.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #aaaaa9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  /* padding: 70px 30px 70px 30px; */
  max-width: 100%;
  max-height: auto;
  background-image: url(./images/MaskGroup1.png);
  background-repeat: no-repeat;
  /* background: rgb(0, 59, 94); */
  color: floralwhite;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.navbar-dark {
  background-color: #1f1f1f;
}

.col-12 {
  color: rgb(129, 129, 129);
  /* font-size: 150%; */
}

.des {
  color: rgb(136, 225, 255);
  /* font-size: 150%; */
  font-style: bold;
}

.slider {
  margin: auto;
  height: 500px;
  width: 600px;
}
